:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  display: block; /* Remove o display: flex padrão do vite */
  min-width: 100vw;
  min-height: 100vh;
  background-color: #f0f2f5; /* Cor de fundo suave */
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left; /* Remove alinhamento central padrão */
}